body{
     background-image: url('https://2.bp.blogspot.com/-fgAS1OHsT6Q/U2DrMtFRJ8I/AAAAAAAAFGU/MALNDhE1uYs/s1600/film+action+terbaik-cepatlambat.jpg');
     position: relative;
     color: yellow;
     text-align: center;
     font-family: Impact;
}

h1{
     font-size: 3.7em;
     }
h2{  
     position: relative;
     font-size: 2.8em;
     top: -200px;
     right: 180%;
     text-decoration: underline;
     }
     
.h2{
    right: 60%;}
          
.content {
    position: relative;
    z-index: 2; /* Assure que le contenu soit au-dessus du voile */
}

.overlay {
    position: fixed;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Couleur de voile noir avec une opacité de 0.7 */
    z-index: 1; /* Assure que le voile soit sous le contenu */
}

#scene{
     display: inline-block;
     width: 40%;
     text-align: justify; 
     margin-left: 25%;
     padding: 12px;
     margin-bottom: 20px;
     }
     
.largeur_texte{
     display: inline-block;
     width: 70%;
     }
     
.container {
    display: flex;
    align-items: center; 
    }
    
.image-container {
    flex: 1;
    margin-right: 10px; /* Espacement entre l'image et le texte */
}

.text-container {
    flex: 2;
    align-self: flex-end;
}
     
.Salt_picture {
    position: relative;
    width: 75%;
    height: auto;
    right: 32%;
    top: 40%; 
}

.baby_driver{
    position: relative;
    width: 82%;
    height: auto;
    right: 43%;
    }
    
.mad_max{
    position: relative;
    width: 80%;
    height: auto;
    right: 38%;
    }

.terminator{
    position: relative;
    width: 80%;
    height: auto;
    right: 40%;
    }
        
.atomic_blond{
    position: relative;
    width: 83%;
    height: auto;
    right: 43%;
    }
        
.Nikita{
    position: relative;
    width: 75%;
    height: auto;
    right: 33%;
    }
    
.batman{
    position: relative;
    width: 85%;
    height: auto;
    right: 47%;
    }
    
.edge{
    position: relative;
    width: 85%;
    height: auto;
    right: 51%;
    }
    
.mission_impo{
    position: relative;
    width: 87%;
    height: auto;
    right: 51%;
    }
        
.resume {
    text-align: justify;
    position: relative;
    width: 60%;
    left: 33%;
    font-size: 1.5em;
    margin-right: 10px;
}
    

.resume2 {
    text-align: justify;
    position: relative;
    width: 70%;
    left: 36%;
    font-size: 1.5em;
    margin-right: 10px;
}

.resume3 {
    text-align: justify;
    position: relative;
    width: 90%;
    left: 47%;
    font-size: 1.5em;
    margin-right: 5px;
}

.resume4 {
    text-align: justify;
    position: relative;
    width: 70%;
    left: 39%;
    font-size: 1.5em;
    margin-right: 10px;
}


/*
@keyframes deplacement-titre {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100vw);
    }
}

.titre {
    animation: deplacement-titre 9s linear infinite;
    white-space: nowrap; /* Empêche le titre de revenir à la ligne */
    position: absolute;
    top: 0%; /* Ajustez la position verticale du titre selon vos besoins */
    left: 5%;
}
*/