body{
     background-image: url('https://assets.kompasiana.com/items/album/2021/06/08/screenshot-5-60bf0b1f8ede4861091b6322.jpg?t=o&v=770');
     position: relative;
     color: red;
     text-align: center;
     font-family: Impact;
}

h1{
     font-size: 3.7em;
     }
h2{  
     position: relative;
     font-size: 2.8em;
     top: -200px;
     right: 180%;
     text-decoration: underline;
     }
     
.h2{
    right: 60%;}
          
.content {
    position: relative;
    z-index: 2; /* Assure que le contenu soit au-dessus du voile */
}

.overlay {
    position: fixed;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Couleur de voile noir avec une opacité de 0.7 */
    z-index: 1; /* Assure que le voile soit sous le contenu */
}

#scene{
     display: inline-block;
     width: 40%;
     text-align: justify; 
     margin-left: 25%;
     padding: 12px;
     margin-bottom: 20px;
     }
     
.largeur_texte{
     display: inline-block;
     width: 70%;
     }
     
.container {
    display: flex;
    align-items: center; 
    }
    
.image-container {
    flex: 1;
    margin-right: 10px; /* Espacement entre l'image et le texte */
}

.text-container {
    flex: 2;
    align-self: flex-end;
}
 
        
.resume {
    text-align: justify;
    position: relative;
    width: 60%;
    left: 33%;
    font-size: 1.5em;
    margin-right: 10px;
}
    

.resume2 {
    text-align: justify;
    position: relative;
    width: 70%;
    left: 36%;
    font-size: 1.5em;
    margin-right: 10px;
}

.resume3 {
    text-align: justify;
    position: relative;
    width: 90%;
    left: 47%;
    font-size: 1.5em;
    margin-right: 5px;
}

.resume4 {
    text-align: justify;
    position: relative;
    width: 70%;
    left: 39%;
    font-size: 1.5em;
    margin-right: 10px;
}

.slider {
  width: 100%;
}

.slider input[type="range"] {
  -webkit-appearance: none; /* Supprimer l'apparence par défaut */
  width: 100%; /* Largeur du slider */
  height: 10px; /* Hauteur du slider */
  background: #d3d3d3; /* Couleur de fond */
  outline: none; /* Supprimer la bordure par défaut */
  opacity: 0.7; /* Opacité par défaut */
  -webkit-transition: .2s; /* Ajouter une transition fluide pour les changements */
  transition: opacity .2s;
}

.slider input[type="range"]:hover {
  opacity: 1; /* Augmenter l'opacité au survol */
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Supprimer l'apparence par défaut */
  appearance: none;
  width: 20px; /* Largeur du bouton de contrôle */
  height: 20px; /* Hauteur du bouton de contrôle */
  background: #4CAF50; /* Couleur du bouton de contrôle */
  cursor: pointer; /* Curseur pointer pour indiquer que c'est interactif */
}

.slider input[type="range"]::-moz-range-thumb {
  width: 20px; /* Largeur du bouton de contrôle */
  height: 20px; /* Hauteur du bouton de contrôle */
  background: #4CAF50; /* Couleur du bouton de contrôle */
  cursor: pointer; /* Curseur pointer pour indiquer que c'est interactif */
}